.about {
  padding: 100px 0 0 0;
  .about__container {
    @media (max-width: 768px) {
      padding: 0 30px;
    }

    .about__content {
      display: grid;
      grid-template-columns: 60% 40%;
      gap: 22px;

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      .about__img {
        .bout__logo {
          @media (max-width: 768px) {
            display: none;
          }
        }

        .bout__phone {
          display: none;
          @media (max-width: 768px) {
            display: block;

            @media (max-width: 480px) {
              display: none;
            }
          }
        }

        .bout__vector {
          display: none;

          @media (max-width: 480px) {
            display: block;
          }
        }
      }

      img {
        max-width: 100%;
        height: auto;
      }

      // ABOUT-TEXT
      .about__text {
        .text__title {
          color: var(--040011);
          font-family: var(--montserratSemiBold);
          font-size: 32px;
          font-style: normal;
          font-weight: 700;
          line-height: 110%;
        }

        .text__subtitle {
          color: var(--040011);
          font-family: var(--montserratRegular);
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          padding: 14px 0 0 0;
        }

        .text__muted {
          color: var(--040011);
          font-family: var(--montserratRegular);
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
          line-height: 130%;
          padding: 22px 0 0 0;
        }
      }

      // ABOUT-ROWS
      .about__rows {
        display: flex;
        justify-content: space-between;
        gap: 12px;
        padding: 32px 0 0 0;

        @media (max-width: 768px) {
          justify-content: flex-start;
          gap: 32px;
        }

        .rows__text {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          gap: 12px;
          width: 300px;

          img {
            height: 42px;
            width: 42px;
          }

          .rows__num {
            color: #000;
            font-family: var(--montserratSemiBold);
            font-size: 32px;
            font-style: normal;
            font-weight: 700;
            line-height: 110%;
          }

          .rows__subtitle {
            color: #000;
            font-family: var(--montserratRegular);
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 130%;
          }
        }
      }
    }
  }
}
