<section class="about">
  <div class="about__container">
    <div class="about__content">
      <div class="about__img">
        <img src="../img/About/bg.png" class="bout__logo" alt="" />
        <img src="../img/About/bgPhone.png" class="bout__phone" alt="" />
        <img src="../img/About/bgVector.png" class="bout__vector" alt="" />
      </div>

      <div class="about__text">
        <div class="text__title">
          Крупнейшая торговая меховая площадка в Рунете
        </div>

        <div class="text__subtitle">
          С 2007 года продаем мех и фурнитуру крупным и мелким оптом.
        </div>
        <div class="text__muted">
          Наша главная задача — сделать покупки удобнее. Посоветуем модные
          принты, найдем те самые перламутровые пуговицы, будем на связи вечером
          и в выходные.
        </div>

        <div class="about__rows">
          <div class="rows__text">
            <img src="../img/About/01.svg" alt="" />
            <div class="rows__num">26 000</div>
            <div class="rows__subtitle">
              Активных партнеров от Санкт-Петербурга до Северо-Курильска.
            </div>
          </div>

          <div class="rows__text">
            <img src="../img/About/02.svg" alt="" />
            <div class="rows__num">720</div>
            <div class="rows__subtitle">
              Отправили заказов в города России, Казахстана и Белоруссии.
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
