<section class="comfort">
  <div class="comfort__container">
    <div class="comfort__content">
      <div class="comfort__items">
        <div class="comfort__item">
          <img src="../img/comfort/01.png" alt="" />
          <div class="comfort__title">
            Дисконтная программа, карты лояльности и бонусы
          </div>
          <div class="comfort__subtitle">
            Индивидуальный подход к каждому клиенту
          </div>
        </div>

        <div class="comfort__item">
          <img src="../img/comfort/03.png" alt="" />
          <div class="comfort__title">Удобная и быстрая доставка</div>
          <div class="comfort__subtitle">
            Поиск по характеристикам, цене и рейтингу
          </div>
        </div>

        <div class="comfort__item">
          <img src="../img/comfort/02.png" alt="" />
          <div class="comfort__title">Весь товар сертифицирован</div>
          <div class="comfort__subtitle">
            Документы соответствуют всем нормам и стандартам
          </div>
        </div>

        <div class="comfort__item">
          <img src="../img/comfort/04.png" alt="" />
          <div class="comfort__title">Обмен и возврат товара</div>
          <div class="comfort__subtitle">
            в течение 14 дней, не считая дня покупки
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
