<footer class="footer">
  <div class="footer__container">
    <div class="footer__content">
      <div class="footer__logo">
        <img src="../img/footer/footerLogo.png" alt="" />

        <div class="footer-logo__list">
          <ul class="list__footer">
            <li class="list-footer__name">
              <a href="#" class="link-footer__name">Документы</a>
            </li>
            <li class="list-footer__name">
              <a href="#" class="link-footer__name"
                >Согласие на обработку данных</a
              >
            </li>
            <li class="list-footer__name">
              <a href="#" class="link-footer__name"
                >Политика конфиденциальности</a
              >
            </li>
          </ul>
        </div>

        <div class="footer__list">
          <div class="list__title">Каталог</div>

          <ul class="list__footer">
            <li class="footer-list__name">
              <a href="#" class="footer-link__name">Каталог</a>
            </li>
            <li class="footer-list__name">
              <a href="#" class="footer-link__name">Помпоны оптом</a>
            </li>
            <li class="footer-list__name">
              <a href="#" class="footer-link__name">Вязанные изделия</a>
            </li>
            <li class="footer-list__name">
              <a href="#" class="footer-link__name">Искусственный мех</a>
            </li>
            <li class="footer-list__name">
              <a href="#" class="footer-link__name"> Меховые опушки</a>
            </li>
            <li class="footer-list__name">
              <a href="#" class="footer-link__name"> Индивидуальный заказ</a>
            </li>
          </ul>
        </div>

        <div class="footer__list">
          <div class="list__title">О нас</div>

          <ul class="list__footer">
            <li class="footer-list__name">
              <a href="#" class="footer-link__name"> О нас</a>
            </li>
            <li class="footer-list__name">
              <a href="#" class="footer-link__name">Статьи</a>
            </li>
            <li class="footer-list__name">
              <a href="#" class="footer-link__name">Напишите нам</a>
            </li>
            <li class="footer-list__name">
              <a href="#" class="footer-link__name">Отзывы</a>
            </li>
            <li class="footer-list__name">
              <a href="#" class="footer-link__name"> Частые вопросы</a>
            </li>
            <li class="footer-list__name">
              <a href="#" class="footer-link__name">Таблица размеров</a>
            </li>
          </ul>
        </div>

        <div class="footer-contact__list">
          <div class="contact__title"></div>

          <div class="contact__number">
            <div class="number__num"></div>
            <div class="number__text"></div>
          </div>

          <div class="contact__social"></div>

          <div class="contact__pay"></div>
        </div>

        <div class="footer-list__download">
          <div class="download__code"></div>

          <div class="download__app"></div>
        </div>
      </div>
    </div>
  </div>
</footer>
