<section class="form">
  <div class="form__contaienr">
    <div class="form__content">
      <div class="form__img">
        <img src="../img/form/bg.png" alt="" />
      </div>

      <div class="form__wrapper">
        <form action="" method="">
          <div class="form__title">Получите скидку 50%!*</div>
          <div class="form__subtitle">
            *Оставьте свои контактные данные и получите персональный промокод со
            скидкой 50% на первый заказ!
          </div>

          <div class="form__input">
            <input
              type="email"
              id="email"
              name="email"
              placeholder="Ваша почта"
              required
            />

            <button class="submit__button">Отправить</button>
          </div>

          <div class="form__verify">
            <input type="checkbox" class="verify__label" name="verify" />
            <div class="verify__check"></div>
            <label for="verify" class="verify__text"
              ><p class="text__verify">
                Я даю свое согласие на обработку персональных данных
              </p></label
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
