<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="theme-color" content="#111111" />
  <title>TatForYou</title>

  <!-- SWIPER -->
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />

  <script
    defer
    src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"
  ></script>

  <script src="../js/components/swiper.js"></script>
  <!-- SWIPER -->

  <!-- FONTS -->
  <link
    rel="preload"
    href="../resources/fonts/Cormorant-Regular.woff"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="../resources/fonts/Inter-Bold.woff"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="../resources/fonts/Lato-Bold.woff"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="../resources/fonts/Lato-Regular.woff"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="../resources/fonts/Montserrat-Black.woff"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="../resources/fonts/Montserrat-Bold.woff"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="../resources/fonts/Montserrat-Medium.woff"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="../resources/fonts/Montserrat-Regular.woff"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <link
    rel="preload"
    href="../resources/fonts/Montserrat-SemiBold.woff"
    as="font"
    type="font/woff2"
    crossorigin
  />
  <!-- FONTS -->

  <link rel="stylesheet" href="css/vendor.css" />
  <link rel="stylesheet" href="css/main.css" />
  <script defer src="js/main.js"></script>
</head>
