<section class="hero">
  <div class="hero__container">
    <div class="hero__content">
      <div class="hero__start">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="hero__item">
                <img src="../img/catalog/Rectangle2.png" alt="" />

                <div class="item__text">
                  <div class="hero__title price">ЗАБЕРИ ПО ЛУЧШЕЙ ЦЕНЕ</div>
                  <div class="hero__subtitle">
                    Более 130 видов <span>помпонов из меха</span> ручного
                    производства
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="hero__item">
                <img src="../img/catalog/news.png" alt="" />

                <div class="item__text">
                  <div class="hero__title news">НОВИНКА</div>
                  <div class="hero__subtitle">
                    <span>Вязаные изделия:</span> шапки, свитера, варежки, шарфы
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="hero__item">
                <img src="../img/catalog/Rectangle2.png" alt="" />

                <div class="item__text">
                  <div class="hero__title price">ЗАБЕРИ ПО ЛУЧШЕЙ ЦЕНЕ</div>
                  <div class="hero__subtitle">
                    Более 130 видов <span>помпонов из меха</span> ручного
                    производства
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="hero__item">
                <img src="../img/catalog/news.png" alt="" />

                <div class="item__text">
                  <div class="hero__title news">НОВИНКА</div>
                  <div class="hero__subtitle">
                    <span>Вязаные изделия:</span> шапки, свитера, варежки, шарфы
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>

      <div class="hero__center">
        <div class="hero__list">
          <ul class="list__hero">
            <li class="list__name">
              <a href="#" class="name__link">Меховые опушки</a>
            </li>
            <li class="list__name">
              <a href="#" class="name__link">Мех отрезы</a>
            </li>
            <li class="list__name">
              <a href="#" class="name__link">Искусственный мех</a>
            </li>
            <li class="list__name">
              <a href="#" class="name__link">Помпоны</a>
            </li>
            <li class="list__name">
              <a href="#" class="name__link">Меховая обувь</a>
            </li>
            <li class="list__name">
              <a href="#" class="name__link">Вязанные изделия</a>
            </li>
            <li class="list__name">
              <a href="#" class="name__link active">Все разделы...</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
