<section class="news">
  <div class="news__container">
    <div class="news__content">
      <div class="news__end">
        <div class="end__items">
          <div class="end__item">
            <div class="item__text">
              Приятные <span>новинки,</span> которые Вы ждали!
            </div>
            <a href="#" class="item__btn"
              >37 вариантов <img src="../img/catalog/right.svg" alt=""
            /></a>
          </div>

          <div class="end__item">
            <img class="item__photo" src="../img/catalog/01.png" alt="" />
            <div class="item__text">
              Искусственный мех Канадской норки Букет
            </div>
          </div>

          <div class="end__item">
            <img class="item__photo" src="../img/catalog/02.png" alt="" />
            <div class="item__text">Искусственный мех Лама Мятный</div>
          </div>

          <div class="end__item">
            <img class="item__photo" src="../img/catalog/03.png" alt="" />
            <div class="item__text">Искусственный мех Енот Латте</div>
          </div>

          <div class="end__item">
            <img class="item__photo" src="../img/catalog/04.png" alt="" />
            <div class="item__text">Искусственный мех Енот Латте</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
