<section class="price">
  <div class="price__container">
    <div class="price__content">
      <div class="price__start">
        <div class="start__item">
          <img class="start__mobile" src="../img/news/mobile.png" alt="" />

          <img class="photo__start" src="../img/news/start01.png" alt="" />

          <div class="start__text">
            <div class="item__sale">-70%</div>
            <div class="item__title">
              Большая рапродажа <span>помпонов</span>
            </div>

            <div class="item__title">Успей купить <span>выгодно</span></div>
          </div>

          <div class="item__time">
            <div class="time__text">Осталось</div>
            <div class="time__muted">4 дн, 12 ч</div>
          </div>

          <div class="text__title">
            <div class="start__title">Большая рапродажа</div>
          </div>
        </div>

        <div class="start__item">
          <img class="photo__start" src="../img/news/start02.png" alt="" />

          <div class="start__text">
            <div class="item__sale">ЗАБЕРИ ПО ЛУЧШЕЙ ЦЕНЕ</div>
          </div>

          <div class="text__title">
            <div class="start__title">Остатки искусственного меха</div>
            <a href="#" class="title__btn">3 варианта</a>
          </div>
        </div>
      </div>
      <div class="price__center"></div>
      <div class="price__end"></div>
    </div>
  </div>
</section>
