<section class="recommend">
  <div class="recommend__container">
    <div class="recommend__content">
      <div class="recommend__items">
        <div class="recommend__item">
          <div class="item__text">
            <div class="item__title">Рекомендации <span>для Вас</span></div>
            <a href="#" class="item__btn">37 вариантов </a>
          </div>
        </div>

        <div class="recommend__item">
          <img src="../img/recommend/01.png" alt="" />

          <div class="text__item">
            <div class="text__sale">
              <div class="sale__sale">sale</div>
              <div class="sale__num">500 ₽</div>
              <div class="sale__del">750 ₽</div>
            </div>
          </div>
        </div>

        <div class="recommend__item">
          <img src="../img/recommend/04.png" alt="" />

          <div class="text__item">
            <div class="text__sale">
              <div class="sale__sale">sale</div>
              <div class="sale__num">500 ₽</div>
              <div class="sale__del">750 ₽</div>
            </div>
          </div>
        </div>

        <div class="recommend__item">
          <img src="../img/recommend/02.png" alt="" />

          <div class="text__item">
            <div class="text__sale">
              <div class="sale__sale">sale</div>
              <div class="sale__num">500 ₽</div>
              <div class="sale__del">750 ₽</div>
            </div>
          </div>
        </div>

        <div class="recommend__item">
          <img src="../img/recommend/03.png" alt="" />

          <div class="text__item">
            <div class="text__sale">
              <div class="sale__sale">sale</div>
              <div class="sale__num">500 ₽</div>
              <div class="sale__del">750 ₽</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
