<section class="search">
  <div class="search__container">
    <div class="search__content">
      <div class="search__wrapper">
        <div class="search__catalog">
          <img src="../img/catalog.svg" alt="" />
          <p class="catalog__text">Каталог</p>
        </div>

        <div class="search__input">
          <input type="text" />
        </div>

        <div class="search__basket">
          <div class="active__catalog">
            <img src="../img/catalog.svg" alt="" />
            <p class="catalog__text">Каталог</p>
          </div>

          <img src="../img/heart.svg" class="heart" alt="" />

          <div class="basket">
            <img src="../img/bag-happy.svg" class="basket__bas" alt="" />
            <p class="basket__num">0</p>
          </div>

          <div class="search__signUp">
            <p class="signUp__text">Войти</p>
            <img src="../img/profilecircle.svg" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
