<section class="subscribe">
  <div class="subscribe__container">
    <div class="subscribe__content">
      <div class="subscribe__last">
        <div class="last__item">
          <div class="item__title">Последние новости</div>
          <a href="#" class="item__subtitle">
            Подпишись на наши новости и будь в курсе новинок
            <img src="../img/catalog/right.svg" alt="" />
          </a>
        </div>

        <div class="last__item">
          <img src="../img/news/01.png" alt="" />

          <div class="item__text">
            <div class="text__data">02.08.2023 18:50</div>
            <div class="text__subtitle">
              Мы приняли участие в международной выставке зимней моды Leshow
            </div>
          </div>
        </div>

        <div class="last__item">
          <img src="../img/news/02.png" alt="" />

          <div class="item__text">
            <div class="text__data">02.08.2023 18:50</div>
            <div class="text__subtitle">
              Благодарим Вас за любовь к нашим изделиям!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
