:root {
  // FONTS
  --cormorantRegular: "Cormorant-Regular", sans-serif;
  --interRegular: "Inter-Regular", sans-serif;
  --latoBold: "Lato-Bold", sans-serif;
  --latoRegular: "Lato-Regular", sans-serif;
  --montserratRegular: "Montserrat-Regular", sans-serif;
  --montserratMedium: "Montserrat-Medium", sans-serif;
  --montserratSemiBold: "Montserrat-SemiBold", sans-serif;
  --montserratBold: "Montserrat-Bold", sans-serif;
  --montserratBlack: "Montserrat-Black", sans-serif;

  // COLORS
  --A751BC: #a751bc;
  --hoverBtn: #88309e;
  --D4BDED: #d4bded;
  --Sale: #ff9700;
  --040011: #040011;
  --rgb: rgba(255, 255, 255, 0.95);
}
